$basePageColor: #f9fafb;
$baseFormColor: white;
$darkColor: #0b0b0b;
$darkColorSecondary: #212121;
$accentColor: #77a265;
$accentColorDarker: #598846;

$fontFamily: 'Roboto', sans-serif;
$headersFontSize: 3vmin;
$boldText: 400;

$paddingLeftRight: 0 7vmin;

body {
    display: flex;
    font-family: $fontFamily;

    section {
        flex: 1.4;
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative;

        h1 {
            position: absolute;
            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $baseFormColor;
            font-family: 'SinkinSans800Black';
            font-size: 4.5vmin;
            line-height: 3vmin;

            span {
                margin-left: 1vmin;
                font-family: 'SinkinSans100Thin';
                letter-spacing: 1vmin;
                font-size: 2.5vmin;
            }
        }

        img {
            position: absolute;
            left: 50%;
            top: 42%;
            transform: translate(-50%, -50%);
            height: 15vmin;
        }

        p,
        a {
            font-weight: 300;
            font-size: 1.4vmin;
            color: $basePageColor;
        }

        p {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, -100%);
        }

    }

    main {
        flex: 2;
        height: 100vh;
        background-color: $basePageColor;

        h3,
        h4 {
            padding: $paddingLeftRight;
            font-size: $headersFontSize;
            font-weight: $boldText;
            color: $darkColor;
        }

        h3 {
            margin-top: 12vmin;
        }

        h4 {
            margin-top: 3vmin;
        }

        form {
            background-color: $baseFormColor;
            height: 30vh;
            margin-top: 7vmin;
            padding: $paddingLeftRight;
            padding-top: 4vmin;
            padding-bottom: 4vmin;

            h5 {
                font-size: $headersFontSize;
                font-weight: $boldText;
                color: $darkColorSecondary;
            }
        }

        button {
            padding: 1.5vmin 4vmin;
            margin: $paddingLeftRight;
            margin-top: 4vmin;
            font-size: 1rem;
            font-weight: 400;
            background-color: $accentColor;
            color: $basePageColor;
            border: none;
            border-radius: 0.8rem;
            cursor: pointer;
        }

        button:hover {
            background-color: $accentColorDarker;
        }

        p {
            color: $darkColor;
            font-size: 0.8rem;
            padding: $paddingLeftRight;
            margin-top: 2vmin;

            a {
                color: $accentColorDarker;
            }
        }
    }
}

div.container {
    margin-top: 3vmin;
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    gap: 4vmin;

    div.input {
        font-size: 0.60rem;
        flex: 30%;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;


        input {
            padding: 0.35rem;
            border: 1px solid #cacaca;
            cursor: pointer;
        }

        input:focus {
            outline: none !important;
            border: 1px solid $accentColor;
        }
    }
}

#crossfadeImg {
    -webkit-animation: changeBckg 16s ease infinite;
    animation: changeBckg 20s ease infinite;
}

@-webkit-keyframes changeBckg {
    0% {
        background-image: url("../assets/images/pexels-monstera-5302892.jpg");
    }

    20% {
        background-image: url("../assets/images/pexels-monstera-5302893.jpg");
    }

    40% {
        background-image: url("../assets/images/pexels-monstera-5302896.jpg");
    }

    60% {
        background-image: url("../assets/images/pexels-monstera-5302924.jpg");
    }

    80% {
        background-image: url("../assets/images/pexels-monstera-5302944.jpg");
    }

    100% {
        background-image: url("../assets/images/pexels-monstera-5302892.jpg");
    }
}

@keyframes changeBckg {
    0% {
        background-image: url("../assets/images/pexels-monstera-5302892.jpg");
    }

    20% {
        background-image: url("../assets/images/pexels-monstera-5302893.jpg");
    }

    40% {
        background-image: url("../assets/images/pexels-monstera-5302896.jpg");
    }

    60% {
        background-image: url("../assets/images/pexels-monstera-5302924.jpg");
    }

    80% {
        background-image: url("../assets/images/pexels-monstera-5302944.jpg");
    }

    100% {
        background-image: url("../assets/images/pexels-monstera-5302892.jpg");
    }
}

footer {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    font-size: 0.8rem;

    img {
        width: 0.8rem;
    }

    a:hover {
        transform: rotate(360deg) scale(1.2);
        transition-duration: 0.8s;
    }
}