body {
  display: flex;
  font-family: "Roboto", sans-serif;
}
body section {
  flex: 1.4;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
body section h1 {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "SinkinSans800Black";
  font-size: 4.5vmin;
  line-height: 3vmin;
}
body section h1 span {
  margin-left: 1vmin;
  font-family: "SinkinSans100Thin";
  letter-spacing: 1vmin;
  font-size: 2.5vmin;
}
body section img {
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  height: 15vmin;
}
body section p,
body section a {
  font-weight: 300;
  font-size: 1.4vmin;
  color: #f9fafb;
}
body section p {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
body main {
  flex: 2;
  height: 100vh;
  background-color: #f9fafb;
}
body main h3,
body main h4 {
  padding: 0 7vmin;
  font-size: 3vmin;
  font-weight: 400;
  color: #0b0b0b;
}
body main h3 {
  margin-top: 12vmin;
}
body main h4 {
  margin-top: 3vmin;
}
body main form {
  background-color: white;
  margin-top: 7vmin;
  padding: 0 7vmin;
  padding-top: 4vmin;
  padding-bottom: 4vmin;
}
body main form h5 {
  font-size: 3vmin;
  font-weight: 400;
  color: #212121;
}
body main button {
  padding: 1.5vmin 4vmin;
  margin: 0 7vmin;
  margin-top: 4vmin;
  font-size: 1rem;
  font-weight: 400;
  background-color: #77a265;
  color: #f9fafb;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}
body main button:hover {
  background-color: #598846;
}
body main p {
  color: #0b0b0b;
  font-size: 0.8rem;
  padding: 0 7vmin;
  margin-top: 2vmin;
}
body main p a {
  color: #598846;
}

div.container {
  margin-top: 3vmin;
  display: flex;
  flex-flow: row wrap;
  gap: 4vmin;
}
div.container div.input {
  font-size: 0.6rem;
  flex: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
div.container div.input input {
  padding: 0.35rem;
  border: 1px solid #cacaca;
  cursor: pointer;
}
div.container div.input input:focus {
  outline: none !important;
  border: 1px solid #77a265;
}

#crossfadeImg {
  -webkit-animation: changeBckg 16s ease infinite;
  animation: changeBckg 20s ease infinite;
}

@-webkit-keyframes changeBckg {
  0% {
    background-image: url("../assets/images/pexels-monstera-5302892.jpg");
  }
  20% {
    background-image: url("../assets/images/pexels-monstera-5302893.jpg");
  }
  40% {
    background-image: url("../assets/images/pexels-monstera-5302896.jpg");
  }
  60% {
    background-image: url("../assets/images/pexels-monstera-5302924.jpg");
  }
  80% {
    background-image: url("../assets/images/pexels-monstera-5302944.jpg");
  }
  100% {
    background-image: url("../assets/images/pexels-monstera-5302892.jpg");
  }
}
@keyframes changeBckg {
  0% {
    background-image: url("../assets/images/pexels-monstera-5302892.jpg");
  }
  20% {
    background-image: url("../assets/images/pexels-monstera-5302893.jpg");
  }
  40% {
    background-image: url("../assets/images/pexels-monstera-5302896.jpg");
  }
  60% {
    background-image: url("../assets/images/pexels-monstera-5302924.jpg");
  }
  80% {
    background-image: url("../assets/images/pexels-monstera-5302944.jpg");
  }
  100% {
    background-image: url("../assets/images/pexels-monstera-5302892.jpg");
  }
}
footer {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  font-size: 0.8rem;
}
footer img {
  width: 0.8rem;
}
footer a:hover {
  transform: rotate(360deg) scale(1.2);
  transition-duration: 0.8s;
}

@media (max-width: 835px) {
  body {
    flex-direction: column;
    height: 145vh;
  }
  footer {
    width: 100vw;
    box-sizing: border-box;
    justify-content: center;
    transform: translate(0, 900%);
  }
  main h3,
main h4 {
    font-size: 1rem !important;
  }
}/*# sourceMappingURL=stylesheet.css.map */